# Astro 
/astro/node_modules/
/astro/dist/
/astro/.cache/
/astro/.next/
/astro/.env
/astro/.env.local

# WordPress 
/wordpress/wp-content/uploads/
/wordpress/wp-content/cache/
/wordpress/wp-content/upgrade/
/wordpress/wp-content/backups/
/wordpress/wp-content/advanced-cache.php


/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/twentytwentyfive-child/

/wordpress/wp-content/themes/*

# Docker
*.log
*.pid
*.seed
docker-compose.override.yml
docker-compose.local.yml
.env
.env.docker

volumes/
**/tmp/
**/.docker/
**/.dockerignore

# Sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
